*{
    padding: 0px;
    margin: 0px;
}
.mob{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav{
    width: 100vw;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navcont{
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.h{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.fes{
    font-size: 100px;
    font-family: "Oswald", sans-serif;
}
.whenwatch{
    width: 60vw;
    display: flex;
    justify-content: space-around;
}